@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #64748B;
  --color-dark: #0F172A;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #F8FAFC;
  font-family: var(--font-sans);
}